{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}URL For Short{% endblock %}

{#{% block navbar %}#}
{#<div class="navbar navbar-fixed-top">#}
{#  <!-- ... -->#}
{#</div>#}
{#{% endblock %}#}

{% block content %}
  <div class="container">
  <h1 class="text-center">URL For Short</h1>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
  {% if shorten_url and qrcode %}
      <p style="margin-top: 10px"><strong>Shorten Url:</strong> {{ shorten_url }}</p>
      <img src="{{ qrcode }}" />
      <a href="{{ qrcode }}" download><button class="btn btn-primary">Download</button></a>
  {% endif %}
  </div>
{% endblock %}